main {
    max-width: 800px;
    padding: 80px;
}

input,
button {
    margin-right: 20px;
}
form {
    display: flex;
    gap: 16px;
}

.form-control input,
.form-control span {
    display: block;
}

.form-control span {
    color: red;
}

li {
    margin-bottom: 6px;
}

/* .modal {
  height: 150px;
  width: 300px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.edit-form {
    padding: 50px;
}
